.main {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 100px;
}

.main>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.main>span:hover:before,
.main>span:hover~span::before {
  content: "\2605";
  position: absolute;
}

div {
  margin-right: 500px;
  margin-top: 300px;
}